<rafa-hero title="monster" catchphrase="A better way to travel.">
  <p class="heroContent">
    Whale hello there! It's Monster here and we tried calling you earlier today,
    but unfortunately weren't able to connect. But no need to fret as we've got
    you covered! We're running some really cool specials on select destinations
    and you can now book your travel dates from the comfort of your home. The
    best part is it's already paid for so let's get you on vacation! 🏖🛫🌞
  </p>
</rafa-hero>

<div class="image-card-container">
  <rafa-image-offset-card
    image="https://i.ibb.co/wSwHHW2/1-2.png"
    title="All Inclusives"
  >
    Receive the hottest all-inclusive destinations
  </rafa-image-offset-card>
  <rafa-image-offset-card
    image="https://i.ibb.co/RN8dgMF/2-2.png"
    title="Top Shelf Brands"
  >
    Get the top resorts in your desired destination.
  </rafa-image-offset-card>
  <rafa-image-offset-card
    image="https://i.ibb.co/vX5Lvmk/3-2.png"
    title="Premium Accomodations"
  >
    Stay in that Villa you've always dreamed about.</rafa-image-offset-card
  >
</div>
