<rafa-hero title="monster" catchphrase="A Better Way To Travel.">
  <p class="heroContent">
    Whale hello there! It's Monster here and we tried calling you earlier today,
    but unfortunately weren't able to connect. No need to fret, we've got you
    covered! We're running some really cool specials on select destinations and
    you can now book your travel dates from the comfort of your home. The best
    part is it's already paid for so let's get you on vacation! 🏖🛫🌞
  </p>
</rafa-hero>

<div class="image-card-container">
  <rafa-image-offset-card
    image="../../../assets/landingPics/1 (4).png"
    title="All-Inclusives"
    (click)="goTo('https://monsterrg.com/')"
  >
    Receive the hottest all-inclusive destinations.
  </rafa-image-offset-card>
  <rafa-image-offset-card
    image="../../../assets/landingPics/2 (1).png"
    title="Top Shelf Brands"
    (click)="goTo('https://monsterrg.com/')"
  >
    Get the top resorts in your desired destination.
  </rafa-image-offset-card>
  <rafa-image-offset-card
    image="../../../assets/landingPics/3 (2).png"
    title="Premium Accomodations"
    (click)="goTo('https://monsterrg.com/')"
  >
    Stay in that Villa you've always dreamed about.</rafa-image-offset-card
  >
</div>
