@import "../../../vars";

:host {
  /*<--Position / Display-->*/
  display: flex;
  flex-direction: column;
  gap: 100px;

  /*<--Margin / Padding / Border>*/
  padding: 20px;

  /*<--Fonts-->*/

  /*<--Colors-->*/
}

.image-card-container {
  /*<--Position / Display-->*/
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: fit-content;

  /*<--Margin / Padding / Border>*/

  /*<--Fonts-->*/

  /*<--Colors-->*/
}

@media (max-width: 950px) {
  .image-card-container {
    flex-direction: column;
    gap: 90px;
  }
}
