@keyframes bounce {
  0% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.33333, 0.66667, 0.66667, 1);
  }
  60% {
    transform: translateY(-10px);
    animation-timing-function: cubic-bezier(0.3333, 0.2222, 0.1111, 0);
  }
  100% {
    transform: translateY(0);
  }
}

.bouncy {
  animation: bounce 1.5s linear infinite;
}

.button:active {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  box-shadow: none;
  transform: translateY(2px);
  transition: 0.01s;
}

.button:disabled,
button[disabled] {
  /*Size, Position, Display,  Margin, Padding, Border*/

  /* Box-shadow Font, Background, Foreground, Color, Animation, */
  background-color: rgba(0, 0, 0, 0.2) !important;
  pointer-events: none;
}
