:host {
  /*<--Position / Display-->*/
  display: block;
  width: fit-content;
  height: fit-content;

  /*<--Margin / Padding / Border>*/

  /*<--Fonts-->*/

  /*<--Colors-->*/
}
.textContent {
  border: 1px dashed;

  /*<--Position / Display-->*/
  height: 100%;

  /*<--Margin / Padding / Border>*/

  /*<--Fonts-->*/

  /*<--Colors-->*/
}

img {
  border: 1px dashed;

  /*<--Position / Display-->*/
  width: 300px;
  height: 400px;

  /*<--Margin / Padding / Border>*/

  /*<--Fonts-->*/

  /*<--Colors-->*/
}
