@import "../../../_vars.scss";

$card-font-size: 14px;

:host {
  /*<--Position / Display-->*/
  max-width: 300px;
  display: flex;
  flex-direction: column;
  width: fit-content;

  /*<--Margin / Padding / Border>*/

  /*<--Fonts-->*/
  font-size: $card-font-size;
  font-weight: 300;

  /*<--Colors-->*/
}

.textContent {
  border-left: 1px solid rgba(204, 213, 204, 0.4);
  border-right: 1px solid rgba(204, 213, 204, 0.4);
  border-bottom: 1px solid rgba(204, 213, 204, 0.4);

  /*<--Position / Display-->*/
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  gap: 10px;

  /*<--Margin / Padding / Border>*/
  padding: 10px;
  border-radius: 0 0 10px 10px;
  /*<--Fonts-->*/

  /*<--Colors-->*/
  color: $base-text-color;

  &__body {
    /*<--Position / Display-->*/

    /*<--Margin / Padding / Border>*/
    max-width: 300px;

    /*<--Fonts-->*/
    text-align: center;

    /*<--Colors-->*/
  }
}

img {
  /*<--Position / Display-->*/
  height: 400px;
  object-fit: cover;

  /*<--Margin / Padding / Border>*/
  border-radius: 10px 10px 0 0;

  /*<--Fonts-->*/

  /*<--Colors-->*/
}

h1 {
  /*<--Position / Display-->*/

  /*<--Margin / Padding / Border>*/

  /*<--Fonts-->*/
  font-weight: 500;
  font-size: $card-font-size;

  /*<--Colors-->*/
  color: black;
}

strong {
  /*<--Position / Display-->*/

  /*<--Margin / Padding / Border>*/

  /*<--Fonts-->*/
  font-weight: 500;

  /*<--Colors-->*/
  color: black;
}
