<div class="field">
  <label
    [for]="id"
    (click)="inputField.focus()"
    [class.field__label--active]="value || focused"
    class="field__label"
    >{{label}}</label
  >
  <input
    #inputField
    [name]="id"
    (input)="setValue(inputField.value)"
    (focus)="onFocus(inputField)"
    (blur)="onInputBlur()"
    type="text"
    class="field__input"
    [value]="value"
  />
</div>
<div class="chip-container">
  <div [class.chip--active]="focused" *ngFor="let chip of chips" class="chip">
    <span
      (click)="writeValue(chip.value.toString())"
      class="chip-container__text"
      >{{chip.label}}</span
    >
  </div>
</div>
{{error}}
