@import "../../../vars";
:host {
  /*Size, Position, Display,  Margin, Padding, Border*/
  width: 100%;

  /* Box-shadow Font, Background, Foreground, Color, Animation, */
}

.chip-container {
  /*Size, Position, Display,  Margin, Padding, Border*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  gap: 20px;
  max-width: 100%;

  /* Box-shadow Font, Background, Foreground, Color, Animation, */

  &__text {
    /*Size, Position, Display,  Margin, Padding, Border*/
    padding: 5px;
    border-radius: 8px;

    /* Box-shadow Font, Background, Foreground, Color, Animation, */
    color: #fff;
    background-color: $primary-color;
  }
}

.chip {
  /*Size, Position, Display,  Margin, Padding, Border*/
  max-height: 0px;

  /* Box-shadow Font, Background, Foreground, Color, Animation, */
  opacity: 0;
  transition: all 0.3s ease-in-out;

  &--active {
    /*Size, Position, Display,  Margin, Padding, Border*/
    max-height: 20px;

    /* Box-shadow Font, Background, Foreground, Color, Animation, */
    opacity: 1;
    transition: all 0.3s ease-in-out;
  }
}

.field {
  /*<--Position / Display-->*/
  position: relative;
  margin-top: 20px;
  padding-bottom: 10px;

  /*<--Margin / Padding / Border>*/

  /*<--Fonts-->*/

  /*<--Colors-->*/

  &__label {
    /*<--Position / Display-->*/
    position: absolute;
    top: 40%;
    left: 20px;
    transform: translateY(-50%);

    /*<--Margin / Padding / Border>*/

    /*<--Fonts-->*/
    font-size: 20px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);

    /*<--Colors-->*/

    transition: all 0.2s ease-in-out;

    &--active {
      @include focused;
      /*<--Position / Display-->*/

      /*<--Margin / Padding / Border>*/

      /*<--Fonts-->*/

      /*<--Colors-->*/
    }
  }

  &__input {
    /*<--Position / Display-->*/

    /*<--Margin / Padding / Border>*/
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 10px;
    width: 100%;

    /*<--Fonts-->*/
    font-size: 20px;
    font-weight: 600;

    /*<--Colors-->*/
    color: rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;

    &:focus {
      /*<--Position / Display-->*/

      /*<--Margin / Padding / Border>*/
      border: 2px solid $primary-color;
      outline: none;
      box-shadow: none;

      /*<--Fonts-->*/

      /*<--Colors-->*/
      transition: 0.5s ease-in-out;
    }
  }
}
