@import "../../../vars";

$border-radius: 8px;

::ng-deep .text-box {
  /*Size, Position, Display,  Margin, Padding, Border*/
  max-width: 400px;
  aspect-ratio: 12/7;
  position: relative;
  border-radius: $border-radius;

  /* Font, Background, Foreground, Color, Animation */
  font-size: clamp(16px, 1.2vw, 20px);
  background-color: rgba(0, 0, 0, 0.05);

  &__image {
    /*Size, Position, Display,  Margin, Padding, Border*/
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: $border-radius;
    opacity: 0;

    /* Font, Background, Foreground, Color, Animation */
    animation: fadeIn 0.5s ease-in-out forwards;
  }

  &__title {
    /*Size, Position, Display,  Margin, Padding, Border*/
    width: 100%;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translateX(-50%);

    /* Font, Background, Foreground, Color, Animation */
    text-align: center;
    font-size: min(18px, 1.6em);
    font-weight: 500;
  }

  &__content {
    /*Size, Position, Display,  Margin, Padding, Border*/
    width: fit-content;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 65%;
    padding: 10px;

    /* Font, Background, Foreground, Color, Animation */
    font-size: 0.7em;
    font-weight: 400;
    text-align: center;
    color: grey;
  }
}

.placeholder {
  /*Size, Position, Display,  Margin, Padding, Border*/
  width: 35%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: $border-radius;
  transform: translateY(-50%);

  /* Font, Background, Foreground, Color, Animation */
  background-color: transparent;
}

.placeholder--active {
  background-color: rgb(216, 217, 212);
  animation: flash 1s infinite;
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
