#review {
  /*Size, Position, Display,  Margin, Padding, Border*/
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  border-radius: 15px;

  /* Box-shadow Font, Background, Foreground, Color, Animation, */
  background-color: #fff;
}

:host {
  /*Size, Position, Display,  Margin, Padding, Border*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px;

  /* Box-shadow Font, Background, Foreground, Color, Animation, */
}

.gallery {
  width: 50%;
}

.image-offset-group {
  /*Size, Position, Display,  Margin, Padding, Border*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 125px;
  margin-top: 50px;
  margin-bottom: 100px;
  /* Box-shadow Font, Background, Foreground, Color, Animation, */
}

@media (min-width: 500px) {
  .image-offset-group {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .gallery {
    width: 80%;
    max-width: 1000px;
  }

  :host {
    padding: none;
  }
}

.image-offset {
  /*Size, Position, Display,  Margin, Padding, Border*/
  display: flex;
  flex-direction: column;
  gap: 5px;

  /* Box-shadow Font, Background, Foreground, Color, Animation, */
}
