<img src="https://i.ibb.co/374R7dv/monster-copy.png" class="logo" />
<div class="link-group">
  <a target="_blank" *ngFor="let link of links" [href]="link.url"
    >{{link.text}}</a
  >
</div>

<div class="button-group">
  <button
    *ngIf="timeline.currentIndex !== 0"
    (click)="timeline.back()"
    [rafaButton]="{coloring: 'inverted'}"
  >
    Back
  </button>
  <button
    *ngIf="isNotLast"
    (click)="goNext()"
    [rafaButton]="{coloring: 'light', bouncy: true}"
  >
    {{nextButtonText}}
  </button>
</div>
