@import "./vars";
/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  /*Size, Position, Display,  Margin, Padding, Border*/
  display: block;
  width: 100vw;
  position: absolute;

  /* Font, Background, Foreground, Color, Animation */
}

.ng-invalid:not(form).ng-touched {
  /*Size, Position, Display,  Margin, Padding, Border*/
  border-radius: 8px;

  /* Box-shadow Font, Background, Foreground, Color, Animation, */
  background-color: #f8d7da;
  transition: all 0.5s;
}
