@import "./vars";
/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  /*Size, Position, Display,  Margin, Padding, Border*/
  display: block;
  width: 100vw;
  position: absolute;

  /* Font, Background, Foreground, Color, Animation */
}
