:host {
  /*Size, Position, Display,  Margin, Padding, Border*/
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 5vh;

  /* Font, Background, Foreground, Color, Animation */
}
.flex {
  /*Size, Position, Display,  Margin, Padding, Border*/
  position: relative;
  max-width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3vw;
  margin: 0 auto;
  /* Font, Background, Foreground, Color, Animation */
}

.picker {
  /*<--Position / Display-->*/
  position: fixed;
  left: 50%;
  top: 5%;
  /*<--Margin / Padding / Border>*/
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: translateX(300%);
  opacity: 0;

  /*<--Fonts-->*/

  /*<--Colors-->*/
  background-color: #fff;
}

.picker--active {
  /*<--Position / Display-->*/
  animation: move 0.8s 0.4s ease-in-out forwards;
  z-index: 999;
}

@keyframes move {
  0% {
    transform: translateX(300%);
    opacity: 0;
  }
  100% {
    transform: translateX(-50%);
    opacity: 1;
  }
}

.overlay {
  /*Size, Position, Display,  Margin, Padding, Border*/
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;

  /* Font, Background, Foreground, Color, Animation */
  background-color: rgba(0, 0, 0, 0.2);
  animation: activate-overlay 0.4s ease-in-out forwards;
}

@keyframes activate-overlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
