<rafa-hero title="All The Destinations You Could Visit"
  ><p class="heroContent">
    Your dream vacation awaits you at one of our fabulous destinations! We have
    over 40 destinations available to travel to, so what are you waiting for?
    Time to pick your destination.
  </p></rafa-hero
>
<rafa-calendar
  [validation]="validate"
  label="Pick a date!"
  #picker
  [headless]="true"
  (onSelect)="moveToNext($event)"
></rafa-calendar>
<div class="flex">
  <rafa-image-card
    *ngFor="let dest of testOptions"
    (click)="toggleDate(picker, dest)"
    class="destination"
    [imageUrl]="dest.image"
    [title]="dest.destName"
    [footer]="dest.footer"
    >{{dest.lorem}}</rafa-image-card
  >
</div>
<rafa-mask
  (click)="toggleTutorialShown()"
  *ngIf="tutorialShown"
  @fadeInOut
  class="mask"
>
  <h1 class="mask__title">Click on a destination to open the calendar</h1>
  <p class="mask__sub-title">(click anywhere to close)</p>
  <img class="mask__down-arrow" src="../../../assets//down-arrow.png" alt="" />
  <rafa-image-card
    (click)="toggleDate(picker, null)"
    imageUrl="https://www.flytap.com/-/media/Flytap/new-tap-pages/destinations/north-america/dominican-republic/punta-cana/Images-Landing-Page-Destinations-punta-cana/PUJ_PagDestino_JUN2021_HeroeBannerMobile_1024x553.jpg"
    class="mask__example"
    title="Punta Cana"
    footer="$99 deposit"
    >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae odio iste
    nihil labore quisquam blanditiis, voluptate nemo ex alias nulla repellat,
    atque id a nam, natus deleniti debitis maxime aperiam?</rafa-image-card
  >
</rafa-mask>
